/* General body styling */
body {
  
  background-image: linear-gradient(to right, #493e44, #554a53, #5f5763, #696474, #717285, #767d8f, #7b8999, #8294a2, #8b9ea7, #97a8ac, #a5b1b2, #b3bab9);
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

/* Music player container styling */
.player {
  background-image: linear-gradient( 179deg,  rgba(0,0,0,1) 9.2%, rgba(127,16,16,1) 103.9% );
  
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  width: 360px;
  max-width: 90%;
  text-align: center;
  padding: 30px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.player:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

/* Styling for the track details */
.details {
  margin-bottom: 20px;
}

.track-art {
  height: 220px;
  width: 220px;
  margin: 0 auto 20px auto;
  background-size: cover;
  background-position: center;
  border-radius: 15%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.now-playing {
  font-size: 0.9rem;
  color: #a19a9a;
}

.track-name {
  font-size: 1.8rem;
  font-weight: bold;
  color: #f8f2f2;
  margin-top: 10px;
}

.track-artist {
  font-size: 1.1rem;
  color: #eceaea;
  margin-bottom: 10px;
}

/* Styling for the control buttons */
.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.playpause-track, .prev-track, .next-track {
  color: #fff8f8;
  transition: color 0.3s, transform 0.3s;
}

.playpause-track:hover, .prev-track:hover, .next-track:hover {
  color: #f08a85;
  transform: scale(1.1);
}

.playpause-track i {
  font-size: 3.5rem;
}

.prev-track i, .next-track i {
  font-size: 2rem;
}

/* Styling for the sliders */
.slider_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.seek_slider, .volume_slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s, background 0.3s;
  margin: 0 10px;
  border-radius: 5px;
}

.seek_slider:hover, .volume_slider:hover {
  opacity: 1;
  background: #e7e7e9;
}

.seek_slider::-webkit-slider-thumb, .volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  background: #f08a85;
  cursor: pointer;
  border-radius: 50%;
}

/* Styling for the current time and total duration */
.current-time, .total-duration {
  font-size: 1rem;
  color: #f6f3f3;
  margin: 0 5px;
}

/* Styling for volume icons */
i.fa-volume-down, i.fa-volume-up {
  font-size: 1.5rem;
  color: #fafafa;
}

/* Media query for smaller screens */
@media (max-width: 500px) {
  .player {
      width: 280px;
  }

  .track-art {
      height: 180px;
      width: 180px;
  }

  .playpause-track i {
      font-size: 3rem;
  }

  .prev-track i, .next-track i {
      font-size: 1.8rem;
  }
}
